/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Reem Kufi', sans-serif;
}
body {
  background-color: white;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Reem Kufi', sans-serif;
  color: black;
}
h1 {
  font-size: 6.5rem;
}
@media (max-width:500px) {
  h1 {
    font-size: 4.5rem;
  }
}
h2 {
  font-size: 3.3rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.img {
  width: 52%;
  border-radius: 1%;
}
@media (max-width:500px) {
  .img {
    width: 100%;
  }
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.content-container {
  display: flex;
  justify-content: flex-end;
}
@media (max-width:500px) {
  .content-container {
    flex-direction: column;
    margin: 0 auto;
  }
}
.home-content {
  width: 45%;
  margin: 2rem;
  margin-top: 5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
@media (max-width:500px) {
  .home-content {
    width: 100%;
    margin: 0 auto;
  }
}
.button {
  background-color: black;
  border: 1px solid black;
  color: white;
  border-radius: 3%;
  padding: 1.4rem 4rem;
  font-family: 'Playfair Display', serif;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 3rem;
}
.button:hover {
  background-color: white;
  color: black;
}
@media (max-width:500px) {
  .button {
    width: 100%;
    max-width: vw;
    height: 8rem;
  }
}
.content-container2 {
  display: flex;
  justify-content: space-around;
  margin: 3.2rem;
  padding: 2rem;
}
@media (max-width:500px) {
  .content-container2 {
    flex-direction: column;
    margin: 0 auto;
  }
}
.content-container3 {
  display: flex;
  justify-content: space-around;
  margin: 3.2rem;
  padding: 2rem;
  padding-top: 5rem;
}
@media (max-width:500px) {
  .content-container3 {
    flex-direction: column-reverse;
    margin: 0 auto;
  }
}
.mark-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 3rem;
  padding: 2rem;
}
@media (max-width:500px) {
  .mark-content {
    width: 100%;
    margin: 0 auto;
  }
}
.title-content {
  display: flex;
  justify-content: center;
}
@media (max-width:500px) {
  .title-content {
    width: 100%;
    max-width: vw;
    margin-bottom: 5.4rem;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  color: white;
  max-width: vw;
  width: vw;
  text-align: center;
  background-color: black;
  border: 1px solid black;
  margin-bottom: 3rem;
}
@media (max-width:500px) {
  nav {
    width: vw;
    display: flex;
  }
}
nav h1,
nav h2,
nav h3,
nav h4,
nav h5 {
  font-family: 'Reem Kufi', sans-serif;
  color: white;
}
nav .logoImg {
  height: 2.5rem;
}
nav img {
  width: 50%;
  margin-right: 2rem;
}
nav .titleDiv {
  padding-top: 1rem;
  font-size: 4rem;
}
nav .navBar {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  font-size: 1.4rem;
  font-family: 'Reem Kufi', sans-serif;
  color: white;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
@media (max-width:500px) {
  nav .navBar {
    width: vw;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
nav .navBar a {
  color: white;
  text-decoration: none;
  justify-content: flex-end;
  padding: 1rem;
}
@media (max-width:500px) {
  nav .navBar a {
    width: vw;
    justify-content: space-evenly;
    margin: 1rem;
  }
}
